const Chuck = ({ facts, score, onAddFact, onClearFacts }) => (
  <div>
    <FactsStat
      title="Facts"
      count={facts.length}
      onClick={onClearFacts}
    />
    <ChuckImage onClick={onAddFact} />
    <FactsStat
      title="Score"
      count={score}
    />
    {facts.map((f) => <Fact key={f.id} text={f.fact} />)}
  </div>
)

Chuck.defaultProps = {
  facts: [],
  score: 0,
}

Chuck.propTypes = {
  facts: React.PropTypes.array,
  score: React.PropTypes.number,
  onAddFact: React.PropTypes.func,
  onClearFacts: React.PropTypes.func,
}
