class Chuck extends Component {

  constructor(props) {
    super(props)
    this.state = { facts: [], score: 0 }
  }

  componentDidMount() {
    fetch('/facts').then((facts) => {
      const randomFact = facts[Math.floor(Math.random() * facts.length)]
      const newFacts = [...this.state.facts, randomFact]
      const newScore = this.state.score + Number(randomFact.points)
      this.setState({ facts: newFacts, score: newScore })
    })
  }

  updateFacts = () => { ... }
  clearFacts = () => { ... }

  render() {
    const { facts, score } = this.state
    return (
      <div>
        <FactsStat
          title="Facts"
          count={facts.length}
          onClick={this.clearFacts}
        />
        <ChuckImage onClick={this.updateFacts} />
        <FactsStat
          title="Score"
          count={score}
        />
        { facts.map(f => <Fact key={f.id} text={f.fact} />) }
      </div>
    )
  }
}
