const Chuck = ({ facts, score, belgium, onAddFact, onClearFacts  }) => {

  let image = <ChuckImage onClick={onAddFact} />
  if (belgium) {
    image = <JCVDImage onClick={onAddFact} />
  }

  return (
    <div>
      <FactsStat
        title="Facts"
        count={facts.length}
        onClick={onClearFacts}
      />
      {image}
      <FactsStat
        title="Score"
        count={score}
      />
      {facts.map((f) => <Fact key={f.id} />)}
    </div>
  )
}
