const Chuck = ({ facts, score, belgium, onAddFact, onClearFacts }) => (
  <div>
    <FactsStat
      title="Facts"
      count={facts.length}
      onClick={onClearFacts}
    />
    {
      belgium
      ? <JCVDImage onClick={onAddFact} />
      : <ChuckImage onClick={onAddFact} />
    }
    <FactsStat
      title="Score"
      count={score}
    />
    {facts.map((f) => <Fact key={f.id} />)}
  </div>
)
