class FactContainer extends React.Component {

  constructor(props) {
    super(props);
    this.state = { fact: null }
  }

  componentDidMount() {
    fetch(`/facts/${this.props.id}`)
      .then(fact => this.setState({ fact }))
  }

  render() {
    const { fact } = this.state
    return <Fact text={fact.text} />
  }

}
