const BaseComponent = props => {...}

// This will work, but it's tedious
let EnhancedComponent = pure(BaseComponent)
EnhancedComponent = mapProps(/*...args*/)(EnhancedComponent)
EnhancedComponent = withState(/*...args*/)(EnhancedComponent)

// Do this instead
const enhance = compose(
  withState(/*...args*/),
  mapProps(/*...args*/),
  pure
)

const EnhancedComponent = enhance(BaseComponent)
