const Fact = (props) => (
  <div className={props.className}>
    {props.text}
  </div>
)

Fact.propTypes = {
  text: React.PropTypes.string,
  className: React.PropTypes.string
}

Fact.defaultProps = {
  text: 'No facts'
}
